import net.incongru.padgett.UserDetails

main = [
        bot: [
                name: 'padgett',
                // if true, verbose messages output to console:
                verbose: true
        ],
        server: [
                host: 'localhost',
                port: 6667
        ],
        channels: ['#padgett-test', '#other-test']
]

// users to auto-op, per channel
usersToAutoOp = [
        '#padgett-test': [
                [nickname: 'gjoseph', login: '~gjoseph', hostname: 'localhost'] as UserDetails,
                // [nickname: 'other user...', login: '...', hostname: '...'] as UserDetails,
        ],
        '#other-chan': []
]

jira = [
        urlPrefix: 'http://jira.acme.org',
        username: 'padgett',
        password: 'lol'
]

grooveShark = [
    tinySongAPIKey: 'Get one at http://tinysong.com/api'
]
